<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <h1>Actualizar Marca</h1>
    <br><br>
    <form (submit)="actualizarmarca()">
        <div>
            <div class="form-group">
                <label for="cve">Marca:</label>
                <input type="text" class="form-control" id="marca" [(ngModel)]="dato.marca" [value]="dato.marca" name="marca">
            </div>
            <div class="form-group">
                <label for="costo">Sitio WEB:</label>
                <input type="text" class="form-control" id="sitio_web" [(ngModel)]="dato.sitio_web" [value]="dato.sitio_web"  name="sitio_web">
            </div>
            <div class="form-group">
                <label for="descripcion">Año De Fundación</label>
                <input type="text" class="form-control" id="anio_fundacion" [(ngModel)]="dato.anio_fundacion" [value]="dato.anio_fundacion" name="anio_fundacion">
            </div>
        </div>
        <br><br>
        <div align="center">
            <button type="submit" class="btn btn-outline-info">Actualizar</button>
        </div>
    </form>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>